html {
    height: 100%;
    width: 100%;
}

html * {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*
    App
*/

.app {
    position: relative;
    overflow: hidden;
}

.app__content--top {
    position: relative;
    padding-top: 282px;
    padding-bottom: 41px;
    background-color: #323232;
    background-image: url('./images/background-top.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.app__logo {
    position: relative;
    display: block;
    margin: auto;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 600px;
    z-index: 10;
    opacity: 0;
    -webkit-transition:
        opacity 2s ease,
        margin 4s ease 2s;
    -moz-transition:
        opacity 2s ease,
        margin 4s ease 2s;
    -o-transition:
        opacity 2s ease,
        margin 4s ease 2s;
    transition:
        opacity 2s ease,
        margin 4s ease 2s;
}

.app__logo--show {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 248px;
}

.app__instagram {
    position: absolute;
    top: 364px;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: initial;
    color: #FBFBFB;
    z-index: 10;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
    -webkit-transition: opacity 6s ease 2s;
    -moz-transition: opacity 6s ease 2s;
    -o-transition: opacity 6s ease 2s;
    transition: opacity 6s ease 2s;
}

.app__instagram--show {
    opacity: 1;
}

.app__instagram:hover {
    text-decoration: underline;
}

.app__description {
    position: relative;
    margin: auto;
    padding: 0 16px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.7;
    color: #FBFBFB;
    text-align: center;
    max-width: 835px;
    box-sizing: initial;
    z-index: 10;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

.app__description-underline--blue {
    background-image: linear-gradient(to right, #3023AE, #53A0FD 48%, #B4EC51);
    background-repeat: no-repeat;
    background-size: 83% 2px;
    background-position: center 40px;
}

.app__description-underline--purple {
    display: block;
    background-image: linear-gradient(92deg, rgba(48, 35, 174, 0.72), rgba(200, 109, 215, 0.72));
    background-repeat: no-repeat;
    background-size: 83% 19px;
    background-position: center 40px;
}

.app__content--bottom {
    background-image: linear-gradient(to top, #181818, #2E2E2E);
    box-shadow: 0 -8px 64px 0 rgba(0, 0, 0, 0.5);
    padding-top: 53px;
}

.app__email {
    color: #FFF;
}

.app__email label {
    position: relative;
    display: block;
    margin: auto;
    z-index: 10;
    font-size: 21px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.app__email-form {
    position: relative;
    display: block;
    margin: 24px auto;
    margin-bottom: 0;
    width: 458px;
    max-width: 60%;
    z-index: 10;
}

.app__email-form input {
    padding: 18px 32px;
    padding-right: 90px;
    border: none;
    border-radius: 28.5px;
    font-size: 14px;
    line-height: 21px;
    outline: none;
    width: 100%;
}

.app__email-form .btn--liquid {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    width: 148px;
    height: 87px;
    margin-top: -16px;
    margin-left: -135px;
}

.app__email-form .btn--liquid:hover {
    cursor: pointer;
}

.app__email-form .btn--liquid text {
    position: relative;
    top: -200px;
}

/* .app__email-form .button {
    margin-left: -108px;
    padding: 11px 24px;
    background-image: linear-gradient(307deg, #1F1F1F, #434442 65%, #7B7B7B);
    box-shadow: -4px 6px 11px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #666;
    border-radius: 28.5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #FFF;
    outline: none;   
} */

.app__email input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BDBDBD;
}

.app__email input::-moz-placeholder { /* Firefox 19+ */
    color: #BDBDBD;
}

.app__email input:-ms-input-placeholder { /* IE 10+ */
    color: #BDBDBD;
}

.app__email input:-moz-placeholder { /* Firefox 18- */
    color: #BDBDBD;
}

.app__content--bottom h2 {
    position: relative;
    z-index: 10;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    max-width: 800px;
    margin: 37px auto;
    margin-bottom: 40px;
}

.app__content--bottom-image {
    position: relative;
    z-index: 10;
    width: 391px;
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: -120px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.app__footer {
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    clear: both;
    padding: 40px 10%;
    background-color: #0F0F0F;
    z-index: 3;
}

.app__footer-copyright {
    float: left;
}

.app__footer-contact {
    float: right;
}

.app__footer-contact a {
    color: #FFF;
    text-decoration: initial;
    display: inline-block;
}

.app__footer-contact a:first-child {
    margin-right: 24px;
}

.app__footer-contact a:hover {
    text-decoration: underline;
}

.app__footer-contact a img {
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.app__image-fluid {
    display: none;
}

.app__image-fluid--1 {
    top: -180px;
    left: -100px;
    width: 600px;
    -webkit-animation: MoveUpDown_1 200s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_1 200s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_1 200s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_1 200s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--2 {
    top: 160px;
    right: 340px;
    width: 80px;
    -webkit-animation: MoveUpDown_2 160s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_2 160s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_2 160s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_2 160s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--3 {
    top: 60px;
    right: -180px;
    width: 940px;
    -webkit-animation: MoveUpDown_3 180s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_3 180s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_3 180s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_3 180s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--4 {
    top: 560px;
    left: 110px;
    width: 70px;
    z-index: 2;
    -webkit-animation: MoveUpDown_4 180s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_4 180s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_4 180s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_4 180s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--5 {
    top: 420px;
    left: -20px;
    width: 500px;
    z-index: 1;
    -webkit-animation: MoveUpDown_5 180s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_5 180s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_5 180s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_5 180s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--6 {
    top: 840px;
    right: -180px;
    width: 500px;
    -webkit-animation: MoveUpDown_6 160s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_6 160s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_6 160s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_6 160s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--7 {
    top: 1240px;
    right: 180px;
    width: 100px;
    -webkit-animation: MoveUpDown_7 140s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_7 140s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_7 140s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_7 140s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--8 {
    bottom: 140px;
    right: -320px;
    width: 900px;
    -webkit-animation: MoveUpDown_8 140s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_8 140s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_8 140s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_8 140s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--9 {
    bottom: 510px;
    right: 400px;
    width: 80px;
    -webkit-animation: MoveUpDown_9 100s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_9 100s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_9 100s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_9 100s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--10 {
    bottom: -100px;
    right: -120px;
    width: 800px;
    -webkit-animation: MoveUpDown_10 180s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_10 180s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_10 180s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_10 180s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--11 {
    bottom: -240px;
    left: -400px;
    width: 1000px;
    -webkit-animation: MoveUpDown_11 200s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_11 200s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_11 200s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_11 200s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--12 {
    bottom: 160px;
    left: 160px;
    width: 80px;
    -webkit-animation: MoveUpDown_12 140s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_12 140s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_12 140s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_12 140s linear infinite; /* IE 10+, Fx 29+ */
}

.app__image-fluid--13 {
    bottom: -460px;
    left: -120px;
    width: 900px;
    -webkit-animation: MoveUpDown_13 240s linear infinite; /* Safari 4+ */
    -moz-animation: MoveUpDown_13 240s linear infinite; /* Fx 5+ */
    -o-animation: MoveUpDown_13 240s linear infinite; /* Opera 12+ */
    animation: MoveUpDown_13 240s linear infinite; /* IE 10+, Fx 29+ */
}

@media (min-width: 1200px) {
    .app__image-fluid {
        position: absolute;
        display: initial;
    }
}

@media (max-width: 768px) {
    .app__description {
        font-size: 32px;
        max-width: 704px;
    }

    .app__content--bottom h2 {
        font-size: 80px;
        max-width: 704px;
    }

    .app__content--bottom-image {
        margin-top: -80px;
    }

    .app__footer {
        height: auto;
        padding: 16px;
        font-size: 12px;
    }

    .app__footer-copyright,
    .app__footer-contact {
        float: initial;
    }

    .app__footer-contact a {
        display: block;
        margin-top: 16px;
    }

    .app__footer-contact a:first-child {
        margin-right: 0;
    }
}

@media (max-width: 420px) {
    .app__content--top {
        padding-top: 180px;
    }

    .app__instagram {
        display: none;
    }

    .app__logo {
        margin-top: 40px;
    }

    .app__logo--show {
        margin-top: -10px;
        margin-bottom: 128px;
    }

    .app__description {
        font-size: 18px;
        padding: 0 24px;
    }

    .app__email-form {
        max-width: 86%;
    }

    .app__email label {
        font-size: 16px;
    }

    .app__content--bottom h2 {
        font-size: 50px;
        padding: 0 24px;
    }

    .app__content--bottom-image {
        width: 180px;
        margin-top: -48px;
    }
}

/*
    Animation Bubble
*/

@keyframes MoveUpDown_1 {
    0% {
        top: -180px;
    }

    98% {
        top: 2400px;
        visibility: hidden;
    }

    99% {
        top: -400px;
        visibility: hidden;
    }

    100% {
        top: -180px;
    }
}

@keyframes MoveUpDown_2 {
    0% {
        top: 160px;
    }

    98% {
        top: 2480px;
        visibility: hidden;
    }

    99% {
        top: -40px;
        visibility: hidden;
    }

    100% {
        top: 160px;
    }
}

@keyframes MoveUpDown_3 {
    0% {
        top: 60px;
    }

    78% {
        top: 2200px;
        visibility: hidden;
    }

    79% {
        top: -600px;
        visibility: hidden;
    }

    100% {
        top: 60px;
    }
}

@keyframes MoveUpDown_4 {
    0% {
        top: 560px;
    }

    98% {
        top: 2480px;
        visibility: hidden;
    }

    99% {
        top: -100px;
        visibility: hidden;
    }

    100% {
        top: 560px;
    }
}

@keyframes MoveUpDown_5 {
    0% {
        top: 420px;
    }

    78% {
        top: 2340px;
        visibility: hidden;
    }

    79% {
        top: -420px;
        visibility: hidden;
    }

    100% {
        top: 420px;
    }
}

@keyframes MoveUpDown_6 {
    0% {
        top: 840px;
    }

    78% {
        top: 2340px;
        visibility: hidden;
    }

    79% {
        top: -330px;
        visibility: hidden;
    }

    100% {
        top: 840px;
    }
}

@keyframes MoveUpDown_7 {
    0% {
        top: 1240px;
    }

    78% {
        top: 2400px;
        visibility: hidden;
    }

    79% {
        top: -60px;
        visibility: hidden;
    }

    100% {
        top: 1240px;
    }
}

@keyframes MoveUpDown_8 {
    0% {
        bottom: 140px;
    }

    21% {
        bottom: -600px;
        visibility: hidden;
    }

    22% {
        bottom: 2300px;
        visibility: hidden;
    }

    100% {
        bottom: 140px;
    }
}

@keyframes MoveUpDown_9 {
    0% {
        bottom: 510px;
    }

    21% {
        bottom: 20px;
        visibility: hidden;
    }

    22% {
        bottom: 2520px;
        visibility: hidden;
    }

    100% {
        bottom: 510px;
    }
}

@keyframes MoveUpDown_10 {
    0% {
        bottom: -100px;
    }

    21% {
        bottom: -600px;
        visibility: hidden;
    }

    22% {
        bottom: 2280px;
        visibility: hidden;
    }

    100% {
        bottom: -100px;
    }
}

@keyframes MoveUpDown_11 {
    0% {
        bottom: -240px;
    }

    21% {
        bottom: -680px;
        visibility: hidden;
    }

    22% {
        bottom: 2200px;
        visibility: hidden;
    }

    100% {
        bottom: -240px;
    }
}

@keyframes MoveUpDown_12 {
    0% {
        bottom: 160px;
    }

    21% {
        bottom: 0;
        visibility: hidden;
    }

    22% {
        bottom: 2560px;
        visibility: hidden;
    }

    100% {
        bottom: 160px;
    }
}

@keyframes MoveUpDown_13 {
    0% {
        bottom: -460px;
    }

    21% {
        bottom: -660px;
        visibility: hidden;
    }

    22% {
        bottom: 2300px;
        visibility: hidden;
    }

    100% {
        bottom: -460px;
    }
}
